[alias]
        co = checkout
        sw = switch
        swc = switch -c
        br = branch
        st = status
        rbi = rebase -i
        rbih = rebase -i HEAD~
        cp = cherry-pick
        unstage = reset HEAD --
        last = log -1 HEAD
        tree = log --oneline --graph
        branch-name = rev-parse --abbrev-ref HEAD
        publish = "!git push -u origin ${git branch-name)"
        track = "!git branch -u remotes/origin/$(git branch-name)"
[core]
        editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
